<table class="table">
  <thead>
    <tr>
      <th>Variable</th>
      <th>Pipe</th>
      <th>Resultado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ name }}</th>
      <td>uppercase</td>
      <td>{{ name | uppercase }}</td>
    </tr>
    <tr>
      <th scope="row">{{ name }}</th>
      <td>lowercase</td>
      <td>{{ name | lowercase }}</td>
    </tr>
    <tr>
      <th scope="row">{{ name }}</th>
      <td>slice:3</td>
      <td>{{ name | slice:3 }}</td>
    </tr>
    <tr>
      <th scope="row">{{ name }}</th>
      <td>slice:0:3</td>
      <td>{{ name | slice:0:3 }}</td>
    </tr>
    <tr>
      <th scope="row">{{ areglo }}</th>
      <td>slice:1:5</td>
      <td>{{ areglo | slice:1:5 }}</td>
    </tr>
    <tr>
      <th scope="row">{{ PI }}</th>
      <td>number:'3.0-0'</td>
      <td>{{ PI | number:'3.0-0' }}</td>
    </tr>
    <tr>
      <th scope="row">{{ PI }}</th>
      <td>number:'1.0-2'</td>
      <td>{{ PI | number:'1.0-2' }}</td>
    </tr>
    <tr>
      <th scope="row">{{ a }}</th>
      <td>percent</td>
      <td>{{ a | percent }}</td>
    </tr>
    <tr>
      <th scope="row">{{ a }}</th>
      <td>percent:'2.2-2' </td>
      <td>{{ a | percent:'2.2-2' }}</td>
    </tr>
    <tr>
      <th scope="row">{{ salario }}</th>
      <td>currency</td>
      <td>{{ salario | currency }}</td>
    </tr>
    <tr>
      <th scope="row">{{ salario }}</th>
      <td>currency:'EUR'</td>
      <td>{{ salario | currency:'EUR' }}</td>
    </tr>
    <tr>
      <th scope="row">{{ salario }}</th>
      <td>currency:'EUR':true</td>
      <td>{{ salario | currency:'EUR':true }}</td>
    </tr>
    <tr>
      <th scope="row">{{ salario }}</th>
      <td>currency:'EUR':true:'4.0-0'</td>
      <td>{{ salario | currency:'EUR':true:'4.0-0' }}</td>
    </tr>
    <tr>
      <th scope="row">{{ valorPromesa }}</th>
      <td>async</td>
      <td>{{ valorPromesa | async }}</td>
    </tr>
    <tr>
      <th scope="row">{{ fecha }}</th>
      <td>date</td>
      <td>{{ fecha | date }}</td>
    </tr>
    <tr>
      <th scope="row">{{ fecha }}</th>
      <td>date:'medium'</td>
      <td>{{ fecha | date:'medium' }}</td>
    </tr>
    <tr>
      <th scope="row">{{ fecha }}</th>
      <td>date:'MMMM - dd '</td>
      <td>{{ fecha | date:'MMMM - dd' }}</td>
    </tr>
    <tr>
      <th scope="row">{{ name2 }}</th>
      <td>capitalizado</td>
      <td>{{ name2 | capitalizado }}</td>
    </tr>
  </tbody>
</table>

<div>
  <h4>JSON</h4>
  <pre>
    {{ heroe | json }}
    </pre>
</div>