<div class="jumbotron">
    <h1 class="display-3">alexlondon07 </h1>
    <p class="lead">Aprendiendo y practicando Angular2 con el curso de Udemy</p>
    <p><a class="btn btn-lg btn-success" href="https://alexlondon07.github.io/" role="button">Visitame en mi página personal</a></p>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h4>*ngIf</h4>
        <hr>
        <button (click)="show = !show"
            type="button" 
            class="btn btn-outline-warning btn-block">Mostrar / Ocultar</button>
        <br>

        <div *ngIf="show">
            <div class="card card-inverse card-primary mb-3 text-center">
                <div class="card-block">
                    <blockquote class="card-blockquote">
                        <p>"{{ text }}"</p>
                        <footer>Author <cite title="Source Title">{{  author }}</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-6">
        <h4>*ngFor</h4>
        <ul class="list-group">
            <li *ngFor="let item of personajes let i = index" class="list-group-item ">{{ i + 1}} {{ item }}</li>
        </ul>
    </div>
</div>